/app/bootstrap.php.cache
/app/cache/*
/app/config/db_credentials.php
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/bin/
/tests/reports/*
/vendor/
/public/bundles/*
/public/state/*
!/public/state/.gitkeep
