.app-container {
    max-width: 400px;
    margin: 0 auto;
}

.ui-element {
    padding: 10px 10px 0 10px;
    text-align: center;
}

.status {
    border: 2px solid #aaa;
    padding: 10px 0;
}
.status .message {
    font-size: 150%;
}

.status-closed {
    background-color: #afa;
    border-color: #0f0;
}
.status-opened {
    background-color: #faa;
    border-color: #f00;
}
.status-unknown {
    background-color: #ffa;
    border-color: #ff0;
}

.videostream {
    width: 320px;
    height: 240px;
    min-width: 320px;
    min-height: 240px;
    border: 1px solid #ddd;
}

.btn-trigger {
    width: 100%;
    padding: 30px 16px;
}
.btn-sequence {
    width: 30%;
    padding: 30px 16px;
    margin: 0 4px;
}
.sequences-buttons {
    margin: 0 -5px;
}
