<?php

declare(strict_types=1);

return [
    'piface'   => [
        'pin_id_closed'        => 0,
        'pin_id_opened'        => 1,
        'pin_id_motor_trigger' => 0,
        'use_hardware'         => false,
    ],
    'database' => [
        'host'     => 'mysql',
        'username' => 'dev',
        'password' => 'dev',
        'name'     => 'dev',
    ],
    'mailer' => [
        'host'              => 'mailhog',
        'port'              => 1025,
        'encryption'        => null,
        'username'          => null,
        'password'          => null,
        'auth_mode'         => null,
        'sender_address'    => 'sender@example.com',
        'sender_name'       => 'Sender',
        'recipient_address' => 'recipient@example.com',
        'recipient_name'    => 'Recipient',
    ],
];
